* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e9dfc8;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f18242;
    padding: 10px 0;
    text-align: center;
}

nav h1 {
    color: white;
    font-size: 24px;
    font-family: "Playwrite DE Grund", cursive;
}

nav a {
    text-decoration: none;
}

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.contact-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.contact-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-container label {
    display: block;
    margin-bottom: 8px;
}

.contact-container input[type="text"],
.contact-container input[type="email"],
.contact-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-container input {
    margin-right: 10px;
}

button {
    background-color: #f18242;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #f5752b;
}
