body {
    margin: 0;
    padding: 0;
    background-color: #e9dfc8 !important; 
    font-family: "Playwrite DE Grund", cursive;
}

.container {
    text-align: center;
    padding: 40px 0;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #000000 !important;
    font-family: "Playwrite DE Grund", cursive;
}

.credit {
    margin-bottom: 30px;
    font-size: 1rem;
    color: #666;
}

.team {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 30px; 
    max-width: 1200px;
    margin: 0 auto;
}

.team-member {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    object-fit: cover;
    border: 5px solid #e91e63; 
    margin-bottom: 15px;
}

.team-member h3 {
    font-size: 1.25rem;
    margin-bottom: 5px;
    color: #333;
    text-transform: uppercase;
}

.team-member h4 {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #e91e63;
    text-transform: lowercase;
}

.team-member p {
    font-size: 0.875rem;
    color: #777;
    margin-bottom: 20px;
}

.btn-custom {
    background-color: #f18242 !important; 
    color: #ffffff !important; 
    padding: 0.2rem 0.5rem;
    font-size: 0.85rem; 
    border: none; 
    border-radius: 5px; 
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block; 
    margin: 15px 8px;
}

.btn-custom:hover {
    background-color: #f37329 !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


