body {
    font-family: "Playwrite DE Grund", cursive;
    background-color: #e9dfc8 !important;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #f18242;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo-vitrine {
    height: 50px;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 1.2rem;
    margin: 0 10px;
}

.d-flex{
    margin-right: 10px;
}

.d-flex .fa-user {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    padding: 5px;
}

.d-flex .ms-2{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
}

.produtos-section {
    padding-top: 80px;
}

.product-card {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card h5 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.product-card .price-product{
    font-size: 1.2rem;
    color: #cf2525;
    font-weight: bold;
    margin-top: 5px;
}

.product-card p {
    font-size: 1rem;
    color: #555;
}

.product-card .btn {
    background-color: #f18242;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-card .btn:hover {
    background-color: #f37329;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}